body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    padding: 20px;
    padding-bottom: 0px;
    color: white;
    text-align: start;
    position: relative;
    background-image: url('../images/header_background.png');
    height: 100vh;
    max-height: 400px;
    display: flex;
    align-items: flex-end;
}

#food-menu {
    padding: 20px;
    text-align: center;
}

#food-items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Responsive grid */
    gap: 20px;
    margin-top: 20px;
}

.header-bar {
    height: 100px;
    background-color: aqua;
}

.food-item {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
}

.food-item h3 {
    margin-top: 0;
}

.food-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.food-item .price {
    font-weight: bold;
    color: #d9534f;
    /* Example color */
}